# Rust
/target/
**/*.rs.bk

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Build outputs
/dist/
/build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db

# Exclude backend target directory
/backend/target/

# Depolyment files
/backend/frontend_dist

Note.txt
backend/data/*.db

# Firebase
firebase-debug.log
.firebase/
